.DashBoard{
    flex: 0.8;

}

.NameBar{
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.User{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UserCards{
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
}

.Card{
    margin-right: 2rem;
    box-shadow: 2px 2px 2px 2px rgb(242, 242, 242);
    display: flex;
    align-items: center;
}


.UserGraph{
    width: 70%;
    margin-top: 40px;
    margin-left: 30px;
    box-shadow: 8px 8px 8px 8px rgb(242, 242, 242);
}

.Image{
height: 100%;
    width: 100%;
}