.signup {
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 40%;
    padding: 20px;
}

.formContainer h1 {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    margin-bottom: 5px;
}

.form button {
    margin: 10px 0;
    text-transform: none;
}

.footertext {
    padding: 20px 0;
}