.App {
  width: 100vw;
  height: 100vh;
  background-color: #fffefe;
  display: flex;
  overflow: hidden;
}


body {
  margin: 0;
  padding: 0;
}

.dashBoardContainer {
  width: 100%;
  flex-grow: 1;
  /* height: 100vh;
  overflow-y: scroll !important; */
}

.datePicker {
  width: 100%;
  margin-top: 10px !important;
}