body{
    background-color: #f7f7f7;
    background-image: linear-gradient(-45deg, #f7f7f720, #f7f7f720 50%, #9e2aab20 50%, #9e2aab20);
    background-size: 10px 10px;
}
    

.main {
    border-radius: 15px;
    max-width: fit-content;
    padding: 10px;
    background-color: #f7f7f7;
    opacity: 1;
    background-image:  linear-gradient(30deg, #cbe6fb 12%, transparent 12.5%, transparent 87%, #cbe6fb 87.5%, #cbe6fb), linear-gradient(150deg, #cbe6fb 12%, transparent 12.5%, transparent 87%, #cbe6fb 87.5%, #cbe6fb), linear-gradient(30deg, #cbe6fb 12%, transparent 12.5%, transparent 87%, #cbe6fb 87.5%, #cbe6fb), linear-gradient(150deg, #cbe6fb 12%, transparent 12.5%, transparent 87%, #cbe6fb 87.5%, #cbe6fb), linear-gradient(60deg, #cbe6fb77 25%, transparent 25.5%, transparent 75%, #cbe6fb77 75%, #cbe6fb77), linear-gradient(60deg, #cbe6fb77 25%, transparent 25.5%, transparent 75%, #cbe6fb77 75%, #cbe6fb77);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    min-width: 20%;
    margin: 5em auto;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

label{
    font-family: sans-serif;
    font-weight: bold;
}
.gender {
    font-family: sans-serif;
    font-weight: bold;
}

.sign {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
}




/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-wrapper{
    flex: 1;
    align-items: center;
    justify-items: center;
}


